articles/**
testing/__pycache__/**
**.swp
BNNQuanalyst
BNNQuanalyst/**
examples
testing/temp
testing/model.lp
testing/clingo-based/model.lp
testing/clingo-based/models
testing/python-based/__pycache__
**.log
