# downloaded articles
articles/**

# test-agnist model
BNNQuanalyst
BNNQuanalyst/**

# project
**/__pycache__/**
**.swp
examples
**/temp/**
.testing_old/**
testing/clingo-based/outputs/**

# TeX files
**.log
**.aux
**.lof
**.lot
**.out
**.toc
**.bbl
**.bcf
**.blg
**.run.xml
**.loe
approxmc
arjun
cadiback
cadical
cryptominisat
mpfr-4.2.1
sbva
